<!doctype html>
<html lang="en">
<head>
  <title>Lab 13 - version 2</title>
  <meta charset="utf-8">
  <script src="scripts/menu.js"></script>  
  <link rel="stylesheet" href="public/style.css">
</head>
<body>
    <!-- The menu will be inserted here -->
    <nav id="menu">
    </nav>
    <!-- History of the English Premier League -->
     <!-- Highlight the first few words -->
     <p><span class="title_heading">The Premier League</span> is an English professional league for men's association football clubs. At the top of the English football league system, it is the country's 
     primary football competition. Contested by 20 clubs, it operates on a system of promotion and relegation with the Football League. Besides English clubs, some of the 
     Welsh clubs can also qualify to play, and participation by some Scottish or Irish clubs has also been mooted.
     </p>
     <p>The Premier League is a corporation in which the 20 member clubs act as shareholders. Seasons run from August to May, with teams playing 38 matches each, totalling 
     380 matches in the season. Most games are played in the afternoons of Saturdays and Sundays, the other games during weekday evenings. It is currently sponsored by 
     <a href="http://www.barclaysbank.co.uk" target="_blank">Barclays Bank</a> and thus officially known as the Barclays Premier League. Outside of England it is commonly referred to as the English Premier League (EPL).
     </p>
     <p>The competition formed as the FA Premier League on 20 February 1992 following the decision of clubs in the Football League First Division to break away from The 
     Football League, which was originally founded in 1888, and take advantage of a lucrative television rights deal. This deal is worth Ã?Â?Ã?Â£1 billion a year as of 2013Ã?Â¢Ã?Â?Ã?Â?14, 
     with BSkyB and BT Group securing the rights to broadcast 116 and 38 games respectively. The Premier League is the most-watched football league in the world, broadcast 
     in 212 territories to 643 million homes and a potential TV audience of 4.7 billion people. In the 2010Ã?Â¢Ã?Â?Ã?Â?11 season the average Premier League match attendance was 
     35,363, the second highest of any professional football league behind the German Bundesliga, and stadium occupancy was 92.2% capacity. The Premier League ranked second 
     in the Union of European Football Associations (UEFA) coefficients of leagues based on performances in European competitions over the last five years.
     </p>
     Since 1888, a total of 23 clubs have been crowned champions of the English football system. Of the 46 clubs to have competed since the inception of the Premier League in 1992, 
     five have won the title: Manchester United (13), <a href="arsenal.html">Arsenal</a> (3), <a href="chelsea.html">Chelsea</a> (3), Blackburn Rovers (1) 
     and <a href="mancity.html">Manchester City</a> (1). The current champions are Manchester United, who won the title in the 2012-2013 season.
</body>
</html> 