<% include header %>

<%= page.title %>

<main role="main">
    <!-- Highlight the first few words -->
    <span class="title_heading">Arsenal Football Club</span> is an English Premier League football club based in Holloway, London. One of the most successful clubs in English football, 
    it has won 13 First Division and Premier League titles and 10 FA Cups. Arsenal holds the record for the longest uninterrupted period in the English 
    top flight and would be placed first in an aggregated league of the entire 20th century. It is the second side to complete an English top flight season unbeaten 
    (in the 2003 season) and the only one to do so across 38 matches.
</main>
<% include footer %>