<!doctype html>
<html lang="en">
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <script src="scripts/menu.js"></script> 
  <link rel="stylesheet" href="public/style.css">  
  </head>
<body>
    <!-- The menu will be inserted here -->
    <nav id="menu">
    </nav>
    <!-- Add Club history -->
    <div class="club_descr">
    	hello<br><br>
